URxvt.scrollBar: false 
URxvt*scrollWithBuffer: true
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.font: xft:DejaVu Sans Mono for Powerline-12
URxvt.letterSpace: 0
URxvt*background: black
URxvt*foreground: white
URxvt.perl-ext-common: resize-font
URxvt.tabbed.tabbar-bg: 8
URxvt.tabbed.tab-bg: 6
URxvt.transparent: true
URxvt.shading: 50
#URxvt.keysym.Control-Insert: perl:clipboard:copy
#URxvt.keysym.Shift-Insert: perl:clipboard:paste
#URxvt.copyCommand: xsel -ib
#URxvt.pasteCommand: xsel -ob

